<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaX.Parserz" version="2.1.0" targetFramework="net481" />
  <package id="Azure.AI.FormRecognizer" version="4.1.0" targetFramework="net481" />
  <package id="Azure.Core" version="1.34.0" targetFramework="net481" />
  <package id="Fozzy.System" version="1.2.3.66" targetFramework="net481" />
  <package id="jQuery" version="1.7.2" targetFramework="net481" />
  <package id="jQuery.Form" version="4.3.0" targetFramework="net481" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.Kiota.Abstractions" version="1.14.0" targetFramework="net481" />
  <package id="Microsoft.Kiota.Serialization.Form" version="1.14.0" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.2849.39" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net481" />
  <package id="OpenCVSharp" version="2.4.0.0" targetFramework="net481" />
  <package id="Refractored.FloatingActionButtonForms" version="2.1.0" targetFramework="net481" />
  <package id="SkinDetector" version="1.0.0.2" targetFramework="net481" />
  <package id="Std.UriTemplate" version="2.0.0" targetFramework="net481" />
  <package id="Syncfusion.Blazor.Buttons" version="27.1.58" targetFramework="net481" />
  <package id="Syncfusion.Licensing" version="27.1.58" targetFramework="net481" />
  <package id="Syncfusion.SfSkinManager.WPF" version="27.1.58" targetFramework="net481" />
  <package id="Syncfusion.Xamarin.Buttons" version="27.1.58" targetFramework="net481" />
  <package id="Syncfusion.Xamarin.Core" version="27.1.58" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net481" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net481" />
  <package id="Xamarin.Forms.InputKit" version="4.1.6" targetFramework="net481" />
  <package id="YoutubeExtractor" version="0.10.11" targetFramework="net481" />
</packages>